.expense-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* fondo semi-transparente negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* para asegurarse de que aparezca encima de otros contenidos */
}

.expense-modal-content {
    height: 60%;      /* Reducir el alto del modal */
    background: linear-gradient(45deg, #32a852, #ffa338);
    padding: 20px;
    border-radius: 8px;
    width: 70%;       /* Reducir el ancho del modal */
    max-width: 600px; /* Reducir el ancho máximo */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    max-height: 70vh; /* Reducir el alto máximo basado en el alto del viewport */
    overflow-y: auto;
}


.expense-modal-content::before { 
    /* Añadir un pseudo-elemento para un efecto de "destello" en el fondo */
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background: linear-gradient(45deg, #ffa338, #32a852, #ffa338, #32a852); /* gradient naranja a verde y viceversa */
    transform: rotate(30deg);
    pointer-events: none; /* Asegurarse de que no interfiera con los clics */
    animation: shine 5s infinite alternate;
}

@keyframes shine {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

/* Estilo para el botón Send Expense */
.modal-button {
    background-color: black; /* Fondo negro */
    color: white;            /* Letras blancas para contraste */
    border: none;
    padding: 10px 20px;      /* Ajustar el padding para el tamaño deseado */
    border-radius: 5px;
    cursor: pointer;         /* Cambio de cursor al pasar el mouse */
    transition: 0.3s;        /* Suave transición para el hover */
    font-weight: bold;       /* Hacer la fuente más gruesa para resaltarla */
}

.modal-button:hover {
    background-color: #333; /* Oscurecer un poco al pasar el mouse */
}

/* Estilo para el botón close */
.close-button {
    background-color: black; /* Fondo negro */
    color: white;            /* Letras blancas para contraste */
    border: none;
    padding: 5px 10px;       /* Padding más pequeño porque es solo una "X" */
    border-radius: 50%;      /* Hacerlo circular */
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;         /* Tamaño de fuente más grande para la "X" */
    position: absolute;      /* Posicionarlo de manera absoluta */
    top: 10px;               /* Ajustar según la ubicación deseada en el modal */
    right: 10px;
}

.close-button:hover {
    background-color: #333; /* Oscurecer un poco al pasar el mouse */
}
