.expense-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para enfocar atención en modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que está por encima de otros contenidos */
}

.expense-modal-content {
    background: #fff; /* Fondo blanco para un aspecto limpio y minimalista */
    padding: 20px;
    border-radius: 8px;
    width: 50%;       /* Ancho del modal ajustable según preferencia */
    max-width: 600px; /* Ancho máximo para contener el contenido de forma adecuada */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para resaltar el modal */
    overflow-y: auto; /* Permite desplazamiento si el contenido es más largo que el modal */
    max-height: 80vh; /* Altura máxima para asegurar que se ajusta en todas las pantallas */
}

/* Botones con estilo acorde a tu paleta de colores */
.modal-button {
    background-color: var(--color-primary);  /* Color principal de tu paleta */
    color: white;            
    border: none;
    padding: 10px 20px;      
    border-radius: 5px;
    cursor: pointer;         
    transition: 0.3s;        
    font-weight: bold;       
}

.modal-button:hover {
    background-color: var(--color-hover); /* Color de hover definido en tus variables root */
}

.close-button {
    background-color: var(--color-secondary); /* Color secundario de tu paleta */
    color: white;            
    border: none;
    padding: 5px 10px;       
    border-radius: 50%;      
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;         
    position: absolute;      
    top: 10px;               
    right: 10px;
}

.close-button:hover {
    background-color: var(--color-hover); /* Oscurecer un poco al pasar el mouse */
}
.expense-modal-content h2,
.expense-modal-content label,
.expense-modal-content p {
    color: #333; /* Un color oscuro para un contraste adecuado */
    /* ... Añade más estilos si es necesario ... */
}
.expense-modal-content input[type="text"],
.expense-modal-content input[type="number"],
.expense-modal-content select {
    /* ... */
    color: #333; /* Color de texto oscuro para mejorar la legibilidad */
    background: #f9f9f9; /* Un fondo ligeramente gris para los campos de entrada */
    border: 1px solid #ddd; /* Un borde sutil para definir los límites de los campos */
    /* ... */
}
