/* Root Variables */
:root {
    --color-primary: #FFA500; /* Your primary color */
    --color-secondary: #FF8C00; /* A slightly different color for emphasis */
    --color-hover: #E69500; /* Darker for hover state */
    --color-text: #FFF; /* White color for text to ensure contrast */
    --text-color-section: #FFFFFF;
    --color-positive: #4CAF50; /* Green for positive balances */
    --color-negative: #F44336; /* Red for negative balances */
    --background-main: #303033; /* Dark grey background for the main area */
    --background-section: #636669; /* Lighter grey for sections */
    --sidebar-width: 370px; /* Sidebar width */
}

/* Base Styles for html and body */

.group-details-container p,
.group-details-container label,
.group-details-container span,
.group-details-container div {
    color: var(--text-color-section); /* Esto hará que el texto sea blanco */
}
/* Group Details Container */
.group-details-container {
    margin-left: var(--sidebar-width); /* Shift the container to the right */
    width: calc(100% - var(--sidebar-width)); /* Full width minus sidebar */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    background: var(--background-main); /* Background color for the container */
    box-sizing: border-box; /* Includes padding and border in width and height */
    overflow-y: auto; /* Enables vertical scrolling */
    position: fixed; /* Fixed position to stay in place during scroll */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

/* Header */
.group-details-header {
    font-size: 2rem; /* Increased size for impact */
    font-weight: bold; /* Bold for emphasis */
    color: var(--text-color-section); /* Esto hará que el texto sea blanco */
    margin-bottom: 20px; /* Bottom margin for spacing */
}

/* Content and Finances Container */
.group-details-content, 
.finances-container {
    padding: 10px 0; /* Vertical padding */
    color: var(--color-text); /* White text for readability */
}

/* Buttons */
.button-add,
.button-settle,
.button-deposit,
.button-withdraw {
    background-color: var(--color-primary); /* Primary color for buttons */
    color: white; /* White text for contrast */
    border: none;
    font-weight: bold; /* Bold text for emphasis */
    padding: 15px 30px; /* Padding for size */
    margin-right: 10px; /* Right margin for spacing */
    margin-bottom: 10px; /* Bottom margin for spacing */
    border-radius: 5px; /* Rounded borders for style */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1.2rem; /* Increased font size for readability */
    width: auto; /* Auto width based on content */
}

/* Button Hover Effects */
.button-add:hover,
.button-deposit:hover,
.button-withdraw:hover {
    background-color: var(--color-hover); /* Hover color for buttons */
}
.button-settle {
    margin-left: auto; /* Esto empujará el botón Start Settle a la derecha */
    background: transparent;
    border: 2.5px solid var(--color-primary); /* Borde naranja */
    color: var(--color-primary); /* Texto naranja */
    /* Asegúrate de que el padding y el font-size sean consistentes con tus otros botones */
  }
  .button-settle:hover {
    background: #f69100;      /* Fondo naranja al hacer hover */
    transition: 1.1s;
    color:white;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
  }
  
/* Submit Button */
.submit-button {
    padding: 12px 18px; /* Padding for size */
    background-color: var(--color-secondary); /* Secondary color for emphasis */
    margin-top: 15px; /* Top margin for spacing */
    width: auto; /* Auto width based on content */
}

/* Expenses and Balances Sections */
.gastos-section,
.saldos-section {
    background: var(--background-section); /* Lighter grey background for sections */
    color: var(--text-color-section);
    padding: 20px; /* Padding for internal spacing */
    margin-bottom: 20px; /* Bottom margin for spacing */
    border-radius: 5px; /* Rounded borders for style */
    margin-top: 15px; /* Top margin for spacing */
}

/* Section Headers */
.gastos-section h3,
.saldos-section h3 {
    color: var(--text-color-section);
    margin-bottom: 10px; /* Bottom margin for spacing */
}

/* List Styles */
ul {
    list-style: none; /* No list style */
    padding-left: 0; /* No padding for lists */
    margin-top: 20px; /* Top margin for first list item */
}
.gastos-section li,
.saldos-section li {
    background-color: #3e4042; /* Un gris ligeramente diferente para las franjas */
    color: #ffffff;
    padding: 10px;
    margin: 5px 0; /* Espaciado entre franjas */
    border-bottom: 1px solid #474a4d;
}

.gastos-section li:hover,
.saldos-section li:hover {
    background-color: #454749; /* Un poco más claro al hacer hover */
}

/* List Items */
li {
    margin-bottom: 5px; /* Bottom margin for list items */
    font-size: 1.2rem; /* Increased font size for readability */
    color: var(--text-color-section);
}
.transaction-item {
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF; /* Asegura que el texto sea blanco para todos los items */
    border-bottom: 1px solid #4d4f52; /* Línea divisora para cada item */
}
.transaction-item:nth-child(odd) {
    background-color: #636669; /* Color para items impares */
}
.transaction-item:nth-child(even) {
    background-color: #57595c; /* Color para items pares */
}
.transaction-item p,
.transaction-item span,
.transaction-item div {
    color: #FFFFFF; /* Texto blanco */
}

.transaction-item:last-child {
    border-bottom: none;
}

/* Balance Classes */
.positive-balance {
    color: var(--color-positive); /* Green for positive balances */
    font-weight: bold; /* Bold for emphasis */
}

.negative-balance {
    color: var(--color-negative); /* Red for negative balances */
    font-weight: bold; /* Bold for emphasis */
}


/* Modal Styles */
.group-details-modal {
    position: fixed;
    padding: 50px;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 650px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Asegura que el modal esté sobre otros contenidos */
    overflow-y: auto; /* Permite desplazamiento si el contenido es más largo que la pantalla */
}

.group-details-modal-content {
    background: var(--background-light); /* Fondo gris claro para el contenido del modal */
    padding: 25px; /* Padding suficiente para el contenido */
    border-radius: 8px; /* Esquinas redondeadas suavemente */
    width: auto; /* Permite que el modal crezca con el contenido */
    max-width: 600px; /* Ancho máximo para evitar modales excesivamente anchos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto de profundidad */
    overflow: hidden; /* Previene que el contenido se desborde */
}


@media (max-height: 800px) {
    .group-details-container {
        padding: 10px; /* Reduce el padding en pantallas más pequeñas */
    }
    /* Otros ajustes para media query si son necesarios */
}